# Ignore everything in the flink-test directory
flink-test/*

# Except for the source files (adjust the pattern as needed)
!flink-test/**/*.java
!flink-test/**/*.xml
!flink-test/**/*.properties
!flink-test/**/*.json
# ... any other file extensions or specific files you want to keep

# Compiled class files
*.class

# Log files
*.log

# BlueJ project files
*.ctxt

# Mobile Tools for Java (J2ME) temporary files
.mtj.tmp/

# Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# JVM crash logs
hs_err_pid*
replay_pid*
